{% extends "careers/base.html" %}
{% block content %}

<div class="container mb-4">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Find A Service</span>
        </div>
      </nav>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
{% for service in services %}
  <div class="col">
    <div class="card">
      <img
        src="{{ service.image.url }}"
        class="card-img-top"
        alt="Service Cover Image"
      />
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'service-detail' service.slug %}">{{ service.name }}</a></h5>
        <p class="card-text">
          {{ service.intro }}
        </p>
        <figcaption class="blockquote-footer">
          <cite title="Source Title"><a href="#">{{ service.author }}</a></cite>
        </figcaption>
        <div class="card-footer text-muted">Starting At <i class="fas fa-dollar-sign"></i> {{ service.pricing }}</div>   
    </div>
    </div>
  </div>
{% endfor %} 
  
</div>

{% if is_paginated %}

        {% if page_obj.has_previous %}
        <a name="First" id="First" class="btn btn-default" href="?page=1" role="button">First</a>
        <a name="Previous" id="Previous" class="btn btn-default" href="?page={{ page_obj.previous_page_number }}" role="button">Previous</a>        
        {% endif %}
            
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a name="" id="" class="btn btn-info mb-4" href="?page={{ num }}" role="button">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a name="" id="" class="btn btn-default mb-4" href="?page={{ num }}" role="button">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a name="" id="" class="btn btn-primary mb-4" href="#" role="button">Next</a>
        <a name="" id="" class="btn btn-default mb-4" href="?page={{ page_obj.paginator.num_pages }}" role="button">Last</a>
        {% endif %}

{% endif %}

{% endblock content %}