{% extends "careers/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"> Add A New Service </span>
      </div>      
    </nav>
</div>

<div class="card mb-4">
  <div class="card-body">The services you create (that you offer) will be listed in the services pool and will allow you to get clients
      as a freelancer.
  </div>
</div>

<form class="form-horizontal " method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <div class="col-lg-10">
      {{ form|crispy }}
    </div>
  </div>
   <!-- Submit button -->
   <br>
   <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="submit">List Service</button>
  </div>
   
</form>

{% endblock content %}