{% extends "base.html" %}
{% block content %}

<div class="container mb-4">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Great </span>
        </div>      
      </nav>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="alert alert-info" role="alert">
         Your password has been reset successfully. Hopefully you didn't forget your password again
      </div>
      <a name="login" id="login" class="btn btn-primary" href="{% url 'login' %}" role="button">Sign In</a>
    </div>
  </div>


{% endblock content %}