{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mb-4">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Reset Your Password </span>
        </div>      
      </nav>
  </div>

<form method="POST">
    {% csrf_token %}
    <div class="form-group mb-4">
        {{ form|crispy }}
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-info btn-block mb-4">Change Password</button>
  
  </form>

{% endblock content %}