{% extends "base.html" %}
{% block content %}

<div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title">{{ user.username }} Profile </h3>
      <a name="" id="" class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
    

<img
  src="{{ user.profile.image.url }}"
  class="img-fluid rounded-circle"
  alt=""
  height="200"
  width="200"
/>


    </div>
    <div class="card-body">
      <p class="card-title">EMAIL: {{ user.email }}</p>
      <p class="card-text">
        {% for profile in profile %}
        {{ profile.first_name }}
        {% endfor %}
      </p>
      <a href="{% url 'profile-edit' %}" class="btn btn-dark">Edit Profile</a>
    </div>
  </div>

{% endblock content %}