{% block sidebar %}
<!-- Side Bar Start -->
<div class="col-md-4">
    <div class="content-section">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Quick Navigation</span>
            </div>
          </nav>
        <p class='text-muted'>Here are some tools you can find on this portal
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><h3>Categories</h3>
                    <ul>
                        <li>Health</li>
                        <li>Political</li>
                        <li>Social</li>
                        <li>Religious</li>
                        <li>Economic</li>
                        <li>Emergency</li>
                    </ul>
                </li>
                <li class="list-group-item list-group-item-light"><h3>Vacancies</h3>
                  <ul>
                      <li>Vacancy Here</li>                              
                  </ul>
              </li>
              <li class="list-group-item list-group-item-light"><h3>BucketList</h3>
                <ul>
                    <li>A list of maps that have been suggested by some users</li>                            
                </ul>
            </li>
            </ul>
        </p>
    </div>
</div>
<!-- Side Bar End -->
{% endblock sidebar %}